absl-py==0.9.0
cycler==0.10.0
decorator==4.4.1
kiwisolver==1.1.0
matplotlib==3.1.2
networkx==2.4
nltk==3.4.6
numpy==1.18.0
pandas==1.0.3
pyparsing==2.4.6
PyPDF2==1.26.0
python-dateutil==2.8.1
pytz==2019.3
regex==2019.12.20
rouge==1.0.0
rouge-score==0.0.3
scipy==1.4.1
six==1.13.0
Theano==1.0.4
tqdm==4.44.1
